body{
    background-color: lightgray;
}
button{
    width: 100px;
    height: 25px;
    font-size: 15px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    color: white;
    padding: 3px;
}
.human{
    background-image: url("../images/PlayerSprite.png");
}
#buttons{
    display: flex;
    flex-direction: row;
    text-align: center;
}
#game{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#gamespace{
    background-color: black;
    background-image: url("../images/spacebackground.jpg");
    background-repeat: no-repeat;
    background-size: 1000px, 650px;
    width: 1000px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#HUD{
    display: flex;
    flex-direction: row;
    align-items: center;
}