body{
    background-color: lightgray;
}

h1{
    text-align: center;
}

div#background {
    width: 1200px;
    height: 700px;
    background-image: url('../images/spacebackground.jpg');
    background-repeat: no-repeat;
    background-size: 1200px, 700px;
    display: flex;
    position: absolute;
    align-items: center;
}

div#hero {
    width: 50px;
    height: 50px;
    background-image: url('../images/PlayerSprite.png');
    background-size: 50px,50px;
    position: absolute;
    left: 575px;
    top: 600px; 
}

div#missiles {
    width: 1200px;
    height: 800px;
    position: absolute;
}

div.missile1 {
    width: 10px;
    height: 28px;
    background-image: url('../images/laser.png');
    background-size: 10px, 28px;
    position: absolute;
}

div#enemies {
    width: 1200px;
    height: 800px;
    position: absolute;
}

div.enemy {
    width: 50px;
    height: 50px;
    background-image: url('../images/AlienSprite.png');
    background-size: 50px, 50px;
    position: absolute;
}